.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 5rem;
  column-gap: 1.5rem;
  width: 100%;
  max-width: 1000px;
}

.feature-card-link {
  text-decoration: none; /* Removes the underline from the link */
  color: inherit; /* Ensures the text color is inherited from the parent */
}

.feature-card {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-card h3 {
  color: var(--primary-color);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.feature-card p {
  color: var(--text-color);
  font-size: 1rem;
}

.feature-card a {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  transition: color 0.3s ease;
}

.feature-card a:hover {
  text-decoration: underline;
  color: #0056b3;
}
